{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/keyframes.css">
{% endblock head %}

{% block content %}
    <div class="card table-container">
       <table width="100%">
           <thead>
               <tr>
                   <th>Instrutor</th>
                   <th>Atendimento</th>
                   <th>Ação</th>
               </tr>
           </thead>

           <tbody>
               {% for instructor in instructors %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ instructor.avatar_url }})"></span>
                            {{ instructor.name }}
                        </td>
                        <td>
                            {% for services in instructor.services %}
                                <span>{{ services }}</span>
                            {% endfor %}
                        </td>
                        <td><a href="/instructors/{{ instructor.id }}">Ver</a></td>
                    </tr>
               {% endfor %}
           </tbody>
       </table>
    </div>

    
{% endblock content %}