{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/keyframes.css">
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                            {{ student.name }}
                        </td>
                        <td>
                            {{ student.email }}
                        </td>
                        <td>
                            {{ student.school_year }}
                        </td>
                        <td>
                            <a href="/students/{{ student.id }}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}