{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block content %}
    
{% endblock content %}
