{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/not-found.css">

    <title>Página não encontrada</title>
{% endblock head %}

{% block content %}
    <img src="/assets/error.png" alt="error">
    <h1>Fala Dev! Esta página não foi encontrada!</h1>
{% endblock content %}

