{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/create.css">
    <link rel="stylesheet" href="/styles/keyframes.css">
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/517198/500x500) no-repeat center center / cover"></section>

        <section class="details">

            <form method="POST" action="/teachers?_method=PUT">

                <h3>EDITAR INSTRUTOR</h3>

                {% include 'teachers/fields.njk' %}

                <input type="hidden" name="id" value="{{ teacher.id }}">
            </form>

            <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ teacher.id }}">        
                <button type="submit">Deletar</button>
            </form>

            
        </section>
    </div>

{% endblock content %}